[Desktop Entry]
Name=COSMIC App Template
Exec=cosmic-app-template %F
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.edfloreshz.Devmode
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
