[package]
name = "devmode"
version = "0.2.5"
edition = "2021"
license = "GPL-2.0"
description = "Devmode is a project management utility for developers."
homepage = "https://devmode.edfloreshz.dev/"
documentation = "https://docs.rs/devmode"
repository = "https://github.com/edfloreshz/devmode/"
readme = "README.md"
exclude = [
    ".idea",
]

[[bin]]
name = "dm"
path = "src/main.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
libdmd = { git = "https://github.com/edfloreshz/libdmd", rev = "f2ff126"}
clap = { version = "3.0.10", features = ["derive"] }
anyhow = "1.0.44"
requestty = "0.3.0"
colored = "2.0.0"
regex = "1.5.4"
git2 = "0.13.22"
git2_credentials = "0.7.3"
cmd_lib = "1.1.0"
walkdir = "2.3.2"
serde = { version = "1.0.126", features = ["derive"] }
